.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  gap: 20px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.title {
  font-size: 24px;
  color: #333;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  width: 100%;
}

.inputFile {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submitButton {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.myFilesButton {
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.ocrResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  color: #333;
}

.resultText {
  width: 100%;
  height: 200px;
  font-size: 1rem;
  padding: 10px;
  margin-top: 10px;
  resize: none;
  border: 1px solid #2b0d83;
  border-radius: 8px;
}

.questionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.inputQuestion {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submitQuestionButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.submitQuestionButton:hover {
  background-color: #0056b3;
}

.logoutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
  color: #222121;
  transition: color 0.3s ease;
}

.logoutButton:hover {
  color: #564e4e;
}