.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    color: #c5bbbb;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    width: 100%;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  .button {
    padding: 10px;
    font-size: 16px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .signup {
    font-size: 14px;
    text-align: center;
    color: #c7bebe;
  }
  
  .link {
    color: #0070f3;
    text-decoration: underline;
    cursor: pointer;
  }
  