.button {
    padding: 10px 20px;
    background-color: #007bff; /* Cor azul */
    color: #ffffff; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #0056b3; /* Azul mais escuro no hover */
  }